.env
.env.bak.*
domains.txt
domains.txt.bak.*
backups/*
!backups/.gitkeep
certs/*
!certs/live/
!certs/.gitkeep
!certs/live/.gitkeep
config/*
!config/.gitkeep
data/mail-data/*
!data/mail-data/.gitkeep
data/mail-state/*
!data/mail-state/.gitkeep
data/mail-logs/*
!data/mail-logs/.gitkeep
data/roundcube/**
letsencrypt/config/*
!letsencrypt/config/.gitkeep
letsencrypt/work/*
!letsencrypt/work/.gitkeep
letsencrypt/logs/*
!letsencrypt/logs/.gitkeep
secrets/*
!secrets/.gitkeep
!secrets/cloudflare.ini.example
secrets/cloudflare.ini.bak.*

